

fieldset ol {
  margin: 0;
  padding: 0;
}

fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}

fieldset label {
  display: inline-block;
  width: 120px;
}
#ad_hoc_options fieldset label {
/*  margin-top: 10px;
  display:block;*/
}


.error {
  color: #d33;
}

/* for customization images in the line items
we've got two versions line items: line_items & line-items
*/

tbody#line_items dd p img, tbody#line-items dd p img {
  float: none;
}
