body {
  background: #fff;
  behavior: url("csshover3.htc");
  font: 12px verdana, sans-serif;
}

body.two-col div#wrapper {
  background-image: none;
  background: #fff;
}

#header {
  background: #fff;
}

/* Main Nav list */
#nav li {
  margin: 0;
  float: left;
  display: block;
}

/* Subnav Lists */
#nav li ul {
font-size: 10px;
  display: none;
position: absolute;
top: 310 px;
*top: 310px;
height: 15px;
left: 330 px;

z-index: 750;
}

/* Nav list links */
#nav li a {
  color: #006363;
  font-weight: bold;
  text-decoration: none;
display: inline;
  height: 10px;
  width: 75px;
vertical-align: top;
}

/* Subnav list links */
#nav li ul a {
color: #33CCCC;
width: 200px;
}

#nav li ul a:hover {

}

/* Subnav Lists */
#nav li ul {
  height: auto;
  width: 200px;
  background-image: url('../images/list_bg_3.png')
    
    
}

#nav li:hover ul {
/* Display others when parent is hovered */
display: block;
z-index: 6000;}

#nav li a:hover, #nav li:hover a {
color: #33CCCC;
}

div.subnav_link {
height: 40px;
width: 180px;

}

div.subnav_link:hover {
background-image: url('../images/list_bg.png');
}


