<ul class="misc_links">
  <li> <a href="/sales">Sales Associates</a> </li>
  <li> <a href="/contact">Contact Us </a></li>
  <li> Event Calendar </li>
  <li> <a href="http://www.fusionglassco.com">Visit Studio Website </a> </li>
  <li> Party Planning </li>
  <li> Custom Design & Assembly </li>
  <li> <a href="/products"> Products Home </a> </li>
</ul>