<ul class="misc_links">
  <li> Sales Associates </li>
  <li> Contact Us </li>
  <li> Event Calendar </li>
  <li> Visit Studio Website </li>
  <li> Party Planning </li>
  <li> Custom Design & Assembly </li>
</ul>