<div id="fgcMenu">
<ul id="nav">

<li class="off"><a href="#">Bridal</a>
  <ul>
    <li><a href="#">Wine Charms</a></li>
    <li><a href="#">Evollution Series</a></li>
    <li><a href="#">Jewelry Sets</a></li>
    <li><a href="#">Bridal Party Sets</a></li>
  </ul>
</li>

<li class="on"><a href="#">Necklaces</a>
  <ul>
    <li><a href="#">Evollution Series</a></li>
    <li><a href="#">Floating Pearls</a></li>
    <li><a href="#">Beaded Pendants</a></li>
    <li><a href="#">Necklace Sets</a></li>
  </ul>
</li>

<li class="off"><a href="#">Pendants</a>
  <ul>
    <li><a href="#">Large</a></li>
    <li><a href="#">Medium</a></li>
    <li><a href="#">Small</a></li>
    <li><a href="#">Tiny</a></li>
    <li><a href="#">Specialty</a></li>
  </ul>
</li>
</ul>