<h1><%= t('wholesalers') %></h1>
<p> FusionGlass Wholesale is for businesses looking to stock unique pieces at discounted rates. Individuals will want to see our <a href="/distributors">distribution program</a>. </p>