 <h3><%= t('wholesale_apply') %></h3>
<p>Fusionglass Wholesale is an excellent choice for engaging, motivated individuals. We're always looking for sales associates to help us distribute Fusionglass.
  While you are required to purchase your own inventory, we offer assistance in the form of reduced prices & sales advice. If you're interested, you can sign up right now! </p>
      <%= link_to 'Apply Now!', new_wholesaler_path, :class => 'button' %>