<h1><%= t('wholesalers') %></h1>
<p> FusionGlass Co. has sales opportunities available! We're looking for engaging individuals to join our sales force across the country. The application doesn't take more than five minutes. After we approve your account, you will have access to wholesale prices and bulk purchase kits. </p>