 <h3><%= t('wholesale_apply') %></h3>
<p>FusionGlass Wholesale is ideal for businesses who are looking for beautiful and sellable artistic jewelry. Our products are made available to you at discounted prices, allowing you to stun your customers with our dazzling pieces. </p>
      <%= link_to 'Apply Now!', new_wholesaler_path, :class => 'button' %>