<h1>Administrative Notes</h1>
<br />
<hr />
<br />
<ul>
  <li>
    <p>August 17 - Product Option Information <br />
<b>classic pendant</b>base: 5.99, small: 15.99, medium: 19.99, large: 39.99<br />
<b>classic pendant, silver logo</b>small: 25.99, medium: 29.99, large: 49.99<br />
<b>spiral heart</b>glass with no bail, pink, blue, purple, green, gold<br />
<b>written word</b>small: 19.99, medium: 24.99, large: 39.99<br />
<b>anytown series</b>small: 15.99, medium: 19.99, large: 39.99<br />
<b>crystal charms</b>choice of word needed<br />
<b>silhouettes</b>butterfly/dove: 49.99, dolphin/angel: 39.99<br />
<b>enchanted forest</b>small: 69.00, medium: 89.00, lrge: 125.00<br />
<b>flower power</b>any solid color<br />
<b>fish pendant</b>no lobster claw: 59.00, claw attachmenet: 69.00<br />
<b>earrings</b>drop-on: 29.99, button: 19.99, clip-on: 19.99<br />
<b>necklace set</b>small: 119.00, medium: 139.00, large: 159.00<br />
<b>belt buckle</b>rectangle: 79.00, circle: 59.00<br />
<b>bowl</b>24'' in blue, green, red, blk, purple, yellow, copper<br />
<b>platter</b>12''X18'' in blue, grn, red, blk, purple, yellw, copper<br />
<b>planet align</b>20''X24'' in blue, grn, red, blk, purple, yellw, copper<br />
<b>square dish</b>6''X6'': $39; 12"x12": $55 in blue, grn, red, blk, purple, yellw, copper<br />
<b>dichroic clock</b>6''X6'' in blue, grn, red, blk, purple, yellw, copper<br />
<b>faerie flower</b>chain: 89.00, cord: 69.00<br />
<b></b>
</p>
</li>