<center><h1>Contact FusionGlass Company:</h2></center>
  <hr />
  <br />
  <p> At FusionGlass Company, we strive for customer satisfaction and want you to have a wonderful shopping experience. If you have any questions, or any problems, be sure to contact us by phone or email.</p>
  <ul>
    <li><p> <b> Shop Phone #:</b> 619-461-4440</p></li>
    <li><p><b>  Address:</b> 8872 La Mesa Blvd, La Mesa, CA, 91941 </p></li>
    <li> <p><b>  E-Mail Address: </b> info@fusionglassco.com</p></li>
  </ul>

<p> Business hours are Monday - Saturday, 10am - 6pm; There is no guarantee that your call will be answered outside of this time, although a staff member may be in the shop. </p>