<center><h1>Contact Us:</h2></center>
  <hr />
  <br />
  <%= image_tag ("debpaul.jpg") %>
  <p> At FusionGlass Company, we strive for customer satisfaction and want you to have a wonderful shopping experience. If you have any questions, or any problems, be sure to contact us by phone or email.</p>
  <ul>
    <li> <b> 619-461-4440</b></li>
    <li><b> 8872 La Mesa Blvd, La Mesa, CA, 91941</b> </li>
    <li><b> <a href="mailto:info@fusionglassco.com">info@fusionglassco.com </a> </b></li>
  </ul>

<p> Business hours are Monday - Saturday, 10am - 6pm; There is no guarantee that your call will be answered outside of this time, although a staff member may be in the shop. </p>