<center><h1>Sales Associates & Wholesalers</h1></center>
<hr />
<p>Here at Fusionglass, we're happy to help you find what you need. If that happens to be a whole pile of Fusionglass products... great! We'll give you a discount just for signing up for a wholesale account, and bigger discounts based on larger purchases. If you need a job, we've got you covered: We're now offering distribution positions, which gives you the leverage of wholesale discounts as well as the added power of Fusionglass behind you: We offer assistance to help you get up and running, as well as offering bulk-purchase kits to give you some visual aids. </p>
<br />
<p> <a href="/distributors"> Individuals looking to become a Fusionglass Distributor </a></p>
<p> <a href="/wholesalers"> Businesses looking to open a Fusionglass Wholesale account </a></p>